// Primarias
$vermelho: hsl(1, 90%, 64%);
$azul: hsl(219, 85%, 26%);

// Neutras
$branco: hsl(0, 0%, 100%);
$azulCinzaClaro: hsl(210, 60%, 98%);
$azulCinzaMedio: hsl(211, 68%, 94%);
$azulCinzaMedioClaro: hsl(205, 33%, 90%);
$azulCinza: hsl(219, 14%, 63%);
$azulCinzaEscuro: hsl(219, 12%, 42%);
$azulEscuro: hsl(224, 21%, 14%);
