@import 'reset';

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $azulCinzaMedioClaro;

    .pagina {
        width: 70%;
        max-height: 90%;
        background-color: $branco;
        border-radius: 10px;
        padding: 30px;
        overflow-y: auto;
        transition: all .5s;
        

        @include tablet {
            width: 80%;
            padding: 20px 10px;
        }

        @include mobile {
            width: 100%;
            height: 100%;
            max-height: 100%;
        }

        .painel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .coluna {
                display: flex;
                align-items: center;

                &.notificacoes {
                    gap: 20px;

                    .titulo {
                        @include mobile {
                            font-size: 14px !important;
                            
                        }
                    }
                    
                    .nun-notificacoes {
                        width: max-content;
                        height: max-content;
                        padding: 4px 10px;
                        background-color: $azul;
                        color: $branco;
                        border-radius: 5px;
                    }
                }

                &.botao {

                    .btn-ler-tudo {
                        font-size: 18px;
                        color: $azulCinzaEscuro;
                        cursor: pointer;

                        @include mobile {
                            font-size: 14px;
                        }

                        &:hover {
                            color: $azul;
                        }
                    }
                }

            }
        }

        .lista-notificacoes {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .notificacao {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .check-notificacao {
                    display: none;

                    &:checked ~ .label-notificacao .status {
                        display: none;
                    }

                    &:checked ~ .label-notificacao {
                        background-color: transparent;
                    }
                }

                .label-notificacao {
                    display: flex;
                    width: 100%;
                    border-radius: 10px;
                    justify-content: flex-start;
                    // align-items: baseline;
                    padding: 15px;
                    gap: 20px;
                    background-color: $azulCinzaClaro;

                    @include mobile {
                        padding: 10px;
                        gap: 10px;
                    }

                    .perfil {
                        width: 80px;
                        height: 80px;

                        @include mobile {
                            width: 50px;
                            height: 50px;
                        }
                    }

                    .conteudo {
                        font-size: 19px;
                        margin-top: 10px;
                        
                        .linha {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            margin-bottom: 10px;
                            
                            &:nth-child(1) {
                                @include tablet {
                                    display: grid;
                                    grid-template-columns: max-content max-content max-content;
                                    
                                    .status {
                                        grid-column-start: 3;
                                        grid-row: 1;
                                    }

                                    .link, .tag {
                                        grid-column-start: 1;
                                        grid-column-end: 3;
                                        grid-row: 2;
                                    }
                                }

                                @include mobile {
                                    gap: 5px;
                                }
                            }
                        }


                        .usuario {
                            color: $azulEscuro;
                            font-weight: bold;

                            &:hover {
                                color: $azul;
                            }
                        }

                        .link {
                            color: $azulEscuro;
                            font-weight: bold;

                            &:hover {
                                color: $azul;
                            }
                        }

                        .tag {
                            color: $azul;
                            font-weight: bold;
                        }

                        .acao, .tempo {
                            color: $azulCinza;
                        }

                        .status::before {
                            content: '';
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-color: $vermelho;
                            border-radius: 50%;
                        }

                        .comentario {
                            border: solid 1px $azulCinza;
                            border-radius: 4px;
                            padding: 20px;
                            color: $azulCinza;
                            cursor: pointer;

                            &:hover {
                                background-color: $azulCinzaMedioClaro;
                                border-color: $azulCinzaMedioClaro;
                            }
                        }

                    }

                }

                .foto {
                    width: 80px;
                    cursor: pointer;

                    @include mobile {
                        width: 40px;
                    }
                }
            }
        }
    }
}