@import 'reset';
@import 'cores';
@import 'mobile';

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $azulCinzaMedioClaro;

    .pagina {
        width: 60%;
        background-color: $branco;
        border-radius: 10px;
        padding: 30px;

        @include mobile {
            width: 80%;
        }

        .painel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .coluna {
                display: flex;
                align-items: center;

                &.notificacoes {
                    gap: 20px;
                    
                    .nun-notificacoes {
                        width: max-content;
                        height: max-content;
                        padding: 4px 10px;
                        background-color: $azul;
                        color: $branco;
                        border-radius: 5px;
                    }
                }

                &.botao {

                    input {
                        display: none;

                        // &:checked + .btn-ler-tudo {
                        //     color: red;
                        // }
                    }

                    .btn-ler-tudo {
                        font-size: 18px;
                        color: $azulCinzaEscuro;
                        cursor: pointer;

                        &:hover {
                            color: $azul;
                        }
                    }
                }

            }
        }

        .lista-notificacoes {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .notificacao {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                // padding: 15px;
                // background-color: $azulCinzaClaro;
                // border-radius: 10px;

                .check-notificacao {
                    display: none;

                    &:checked ~ .label-notificacao .status {
                        display: none;
                    }

                    &:checked ~ .label-notificacao {
                        background-color: transparent;
                    }
                }

                .label-notificacao {
                    display: flex;
                    width: 100%;
                    border-radius: 10px;
                    justify-content: flex-start;
                    // align-items: baseline;
                    padding: 15px;
                    gap: 20px;
                    background-color: $azulCinzaClaro;

                    .perfil {
                        width: 80px;
                        height: 80px;
                    }

                    .conteudo {
                        font-size: 19px;
                        margin-top: 10px;
                        
                        .linha {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            margin-bottom: 10px;
                        }


                        .usuario {
                            color: $azulEscuro;
                            font-weight: bold;

                            &:hover {
                                color: $azul;
                            }
                        }

                        .link {
                            color: $azulEscuro;
                            font-weight: bold;

                            &:hover {
                                color: $azul;
                            }
                        }

                        .tag {
                            color: $azul;
                            font-weight: bold;
                        }

                        .acao, .tempo {
                            color: $azulCinza;
                        }

                        .status::before {
                            content: '';
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-color: $vermelho;
                            border-radius: 50%;
                        }

                        .comentario {
                            border: solid 1px $azulCinza;
                            border-radius: 4px;
                            padding: 20px;
                            color: $azulCinza;
                            cursor: pointer;

                            &:hover {
                                background-color: $azulCinzaMedioClaro;
                                border-color: $azulCinzaMedioClaro;
                            }
                        }

                    }

                }
            }
        }
    }
}