@import 'reset';
@import 'cores';

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $azulCinzaMedioClaro;

    .pagina {
        width: 60%;
        background-color: $branco;
        border-radius: 10px;
        padding: 30px;

        .painel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .coluna {
                display: flex;
                align-items: center;

                &.notificacoes {
                    gap: 20px;
                    
                    .nun-notificacoes {
                        width: max-content;
                        height: max-content;
                        padding: 4px 10px;
                        background-color: $azul;
                        color: $branco;
                        border-radius: 5px;
                    }
                }

                &.botao {

                    input {
                        display: none;

                        // &:checked + .btn-ler-tudo {
                        //     color: red;
                        // }
                    }

                    .btn-ler-tudo {
                        font-size: 18px;
                        color: $azulCinzaEscuro;
                        cursor: pointer;

                        &:hover {
                            color: $azul;
                        }
                    }
                }

            }
        }

        .lista-notificacoes {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .notificacao {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 15px;
                background-color: $azulCinzaClaro;
                border-radius: 10px;

                .check-notificacao {
                    // display: none;
                }

                .label-notificacao {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 15px;
                    gap: 20px;

                    .conteudo {
                        
                        .linha {
                            display: flex;
                            gap: 15px;
                        }

                        

                    }

                }
            }
        }
    }
}